.carrinhoePesquisa 
{
  position: sticky;
  width: 35%;
  padding: 2rem 2rem 0 0;
  background-color: hsl(0, 100%, 100%)
}

#pesquisa
{
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 0%);
}

.carrinho 
{
  max-height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 100%, 0.05);
}

.carrinho:hover
{
  background-color: hsla(0, 0%, 100%, 0.07);
}

h2 
{
  height: 2.5rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: hsl(250, 60%, 20%);
  border-radius: 1rem 1rem 0 0;
}

.itemCarrinho
{
  padding: .2rem;
  margin: .2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  background-color: hsla(0, 0%, 100%, 0.10);
  color: hsl(0, 0%, 100%);
}

.itemCarrinho .imagem 
{
  width: 4rem;
  flex: 0 25%;
}

.carrinho .nomeDoProduto 
{
  display: inline-flex;
  align-items: center;
  flex: 1 55%;
}

.carrinho .valorDoProduto 
{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1 22%;
  background-color: hsl(250, 60%, 10%);
}

.carrinho .removeItemDoCarrinho 
{ 
  flex: 1 70%;
  padding: .2rem .4rem;
  color: hsl(0, 0%, 90%);
}

.carrinho .removeItemDoCarrinho:hover,
.btn-limparCarrinho:hover
{
  cursor: pointer;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 100%, 65%);
  border-color: hsl(0, 100%, 55%);
  transition: all ease .5s;
}

.carrinho #p1 
{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(0, 0%, 75%);
}

.carrinho #p2 
{
  margin-bottom: 2rem;
  color: hsl(0, 0%, 50%);
}

.btn-limparCarrinho
{
  width: 100%;
  padding: .2rem .3rem;
  margin: .5rem 0;
  font-size: 1.2rem;
  background: inherit;  
  color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  border: .15rem solid hsl(0, 0%, 100%);
}

.carrinho .quantidadeItem 
{ 
  color: hsl(0, 0%, 100%);
}

.check-out 
{
  padding: .3rem .1rem;
  display: flex;
  flex-wrap: wrap;
  gap: .1rem;
  background-color: hsl(0, 0%, 15%);
  border-radius: 0 0 1rem 1rem;
}

.listaCheckout 
{
  text-align: center;
  flex: 1 40%;
}

.valorTotal,
.quantidade 
{
  flex: 1 30%;
  text-align: center;
}

#rogGif 
{
  /*background: url(https://media3.giphy.com/media/WvcovtzdPMmnrdNvuK/giphy.gif?cid=ecf05e47b0d17e7e93b52e54d4c2770a60e70dc9dd4a444d&rid=giphy.gif&ct=g);*/
  background-size: cover;
  border-radius: 10px;
  margin-left: 25px;
}
