.menuDeCategorias 
{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  color: hsl(0, 100%, 100%);
  box-shadow: 0 .1rem .1rem hsl(0, 0%, 100%);
}

.menu_item 
{
  padding: 1rem;
  display: inline-flex;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.menu_item:hover 
{
  background: linear-gradient(270deg, hsl(250, 45%, 25%),
                                      hsl(195, 50%, 40%),
                                      hsl(0, 65%, 25%));
  background-size: 600% 600%;
  animation: hovering 5s ease infinite;
  box-shadow: 0rem 0rem .2rem hsl(0, 100%, 100%);
  cursor: pointer;
}

.menuDeCategorias img 
{
  height: 3rem;
  width: 8rem;
  margin-right: 8rem;
  border-radius: 2rem;
}